.cartitems{
    margin: 0px 50px;
}
.cartitems h1{
    font-weight: 600;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.cart-empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}

.cart-empty-message h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 500;
}

.cart-empty-message p {
    font-size: 16px;
}
.empty-cart-return-button{
    width: 222px;
    height: 52px;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #ff5a5a;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: background .3s ease-in-out;
}
.empty-cart-return-button:hover{
    background: #020203;
}

.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
    max-width: 90vw;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 2.5fr .7fr .7fr .7fr .7fr;
    align-items: center;
    column-gap: 15px;
    padding: 20px 0px;
    color: #454545;
    font-size: 16px;
    font-weight: 600;
}
.cartitems-mobile-format{
    display: none;
}
.cartitems-format{
    font-size: 16px;
    font-weight: 500;
}
.cartitems-format p{
    padding-left: 10px;
}
.cartitems-format span{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 34vw;
    font-size: 16px;
    font-weight: 600;
}
.carticon-product-icon{
    height: 62px;
}
.cartitem-remove-icon{
    width: 20px;
    margin-right: 30px;
    cursor: pointer;
    transition: color 0.2s ease;
}
.cartitem-remove-icon:hover{
    color: #ff5a5a;
}
.cartitems-quantity{
    width: 54px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}
.cartitems-down{
    display: flex;
    margin: 80px 0;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 12vw;
    gap: 20px;
}
.cartitems-total h1{
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 0;
}
.cartitems-total h3{
    font-weight: 600;
    font-size: 20px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total-item-shipping{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total-item-shipping span{
    font-size: 10.5px;
    margin-top: 6px;
    font-weight: 300;
}
.cartitems-total button{
    width: 222px;
    height: 52px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #ff5a5a;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: background .3s ease-in-out;
}
.cartitems-promocode{
    flex: 1;
    font-size: 17px;
    font-weight: 500;
}
.cartitems-promocode p{
    color: #555;
}
.cartitems-promobox{
    width: 336px;
    margin-top: 20px;
    padding-left: 20px;
    height: 48px;
    background: #eaeaea;
    gap: 5px;
    display: flex;
    align-items: center;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    width: 200px;
    padding-right: 5px;
}
.cartitems-promobox button{
    width: 170px;
    height: 48px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}
.cartitems button:hover{
    opacity: .8;
}
.cartitems-total button:hover{
    background: #020203;
}
.cartitems button:active{
    background: #ff5a5a;
    
}

@media  screen and (max-width: 740px) {
    .cartitems{
        margin: 10px 20px 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cartitems h1{
        align-self: flex-start;
        margin-bottom: 0;
    }
    .cartitems-mobile-hr{
        display: none;
    }
    .cartitems-mobile-format{
        display: block;
        padding: 15px;
        max-width: 505px;
        position: relative;
        border: 2px solid #e2e2e2;
        margin-top: 20px;
    }
    .cartitems-mobile-container{
        display: flex;
        flex-direction: column;
        margin: 10px;
        margin-top: 18px;
        gap: 12px;
    }
    .cartitems-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        font-weight: 300;
    }
    .cartitems-format-main{
        display: none;
    }
    .cartitems-mobile-format span{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 13px;
        font-weight: 400;
        margin-top: 20px;
        padding-bottom: 10px;
    }
    .cartitems-mobile-format .carticon-product-icon{
        width: 100%;
        max-width: 50px;
        height: auto;
    }
    .cartitem-remove-icon{
        width: 15px;
        position: absolute;
        margin-left: 88%;
        padding-bottom: 7px;
    }

    .cartitems-total{
        margin-right: 9vw;
    }
    .cartitems-down{
        flex-direction: column-reverse;
        margin: 50px 0;
        gap: 50px;
    }
    .cartitems-promobox{
        width: 286px;
        height: 40px;
        gap: 5px;
    }
    .cartitems-promobox button{
        height: 40px;
    }
    .cartitems-promobox input{
        width: 160px;
    }
    .cartitems-promocode p{
        color: #555;
        font-size: 15px;
    }
    .cartitems-total h1{
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1px;
    }
}