.footer2-container{
    background: #020203;
    color: white;
}
.newsletter{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.newsletter-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
}
.newsletter-item h1{
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 0.8px;
}
.newsletter-item p{
    font-size: 14px;
}
.newsletter-subscribe{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.newsletter-subscribe input{
    border: none;
    color: white;
    padding-left: 14px;
    outline: 2px solid #FFFFFF;
    background-color: inherit;
    border-radius: 4px;
    width: 321px;
    height: 40px;
    font-size: 18px;
}
.newsletter-subscribe input::placeholder{
    color: white;
    padding-left: 7px;
}

.newsletter-subscribe input:focus{
    outline: 2px solid #4da6ff;
}

.newsletter-subscribe button{
    all: unset;
    background-color: #0156FF;
    border-radius: 50px;
    padding: 12px 26px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.newsletter-subscribe button:hover{
    transform: scale(1.05);
}
.newsletter-subscribe button:active{
    transform: translateY(2px);
}
.footer2-items-container{
    display: flex;   
    margin: 60px 0; 
}
.footer2-items-container h2{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.2px;
}
.footer2-items{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    margin-right: auto;
    margin-left: 8.5%;
    cursor: pointer;
}
.footer2-address{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    margin-right: auto;
    max-width: 310px;
    font-size: 16px;
}
.footer2-container hr{
    margin: 0 8.5%;
    border: 1.3px solid rgba(155, 155, 155, 0.3);
}
.footer2-icon-container{
    display: flex;
    justify-content: space-between;
    margin: 12px 8.5%;
}


@media screen and (max-width: 830px) {
    .newsletter{
        flex-direction: column;
        gap: 5px;
    }
    .newsletter h1{
        font-size: 28px;
    }
    .newsletter p{
        font-size: 16px;
    }
    .newsletter-subscribe{
        gap: 15px;
        margin-top: 22px;
    }
    .newsletter-subscribe input{
        width: 200px;
        height: 38px;
    }
    .newsletter-subscribe button{
        padding: 15px 43px;
    }
    .footer2-items-container{
        flex-direction: column;
        gap: 25px;
    }
    .footer2-items-container h2{
        font-size: 19px;
    }
    .footer2-items{
        margin-left: 7%;
    }
    .footer2-address{
        margin-left: 7%;
    }
    .footer2-icon-container{
        margin: 14px 7.5%;
    }
    .footer2-icon-container p{
        font-size: 14px;
    }
}